#hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    width: auto; 
}
#ball, #pins {
    position: absolute;
    transition: transform 0.3s ease;
    will-change: transform;
}
#pins {
    width: 20rem;
    opacity: 80%;
}
#ball {
    margin-top: 5rem;
    width: 10rem;
    opacity: 90%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 3.5rem);
    grid-template-rows: repeat(5, 3.5rem);
}
.grid-item {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid var(--red);
    box-sizing: border-box;
    background-color: rgba(98, 0, 255, .1);
}
#hero-title {
    font-size: var(--size-4xl);
    color: #6200ffd7;
    z-index: 1;
    font-weight: 800;
    position: absolute;
    margin-top: 14.5rem;
    text-transform: uppercase;
}
#hero-desc-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero-sub-title {
    color: var(--red);
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: var(--size-xl);
    letter-spacing: -0.05rem;
}
#desc {
    font-size: var(--size-sm);
    line-height: 1.3rem;
    width: 32ch;
    margin-top: 2rem;
}
