.team {
    margin-top: 4rem;
}
#join-team {
    text-align: center;
}
#team-title {
    font-size: var(--size-3xl);
    color: white;
    text-transform: uppercase;
    text-shadow: -3px 0px red, 3px 0 purple;
}
